  <!-- Navbar -->
  {% load cart_template_tag %}

  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}">
        <strong class="blue-text">MDB</strong>
      </a>

      <!-- Collapse -->

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          {% comment %} <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
          </li> {% endcomment %}
        </ul>


        <!-- Right -->
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'cart-summary' %}">
              <span class="badge red z-depth-1 mr-1"> {% cart_quantity request.user %} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/accounts/logout/" class="nav-link">
              Sair
            </a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="/accounts/login/" class="nav-link"
              target="_blank">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a href="/accounts/signup/" class="nav-link"
              target="_blank">
              Cadastrar
            </a>
          </li>
        </ul>
        {% endif %}

      </div>

    </div>
  </nav>